'scopeName': 'source.leg'
'name': 'LEG'
'fileTypes': ['s']

'patterns': [
    {
        'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+)|(0[xX][0-9a-fA-F]+))\\b'
        'name': 'constant.numeric.leg'
    }

    {
        'begin': '@'
        'end': '\\n'
        'name': 'comment.line.leg'
    }

    {
        'match': '^\\w+:'
        'name': 'entity.name.function.leg'
    }

    {
        'match': '\\b((mov)|(set)|(ld)|(ldb)|(st)|(stb)|(add)|(sub)|(cmp)|(and)|(or)|(xor)|(tst)|(not)|(shl)|(shr)|(sar)|(rol)|(ror)|(rcl)|(rcr)|(jmp)|(jc)|(jnc)|(jz)|(jnz)|(jo)|(jno)|(js)|(jns)|(jl)|(jle)|(jg)|(jge)|(ja)|(jna)|(push)|(pop)|(call)|(ret)|(in)|(inb)|(out)|(outb)|(pushf)|(popf)|(sys)|(iret)|(clc)|(stc)|(cli)|(sti)|(wait)|(drop)|(hlt))\\b|\\B(\\.org)|\\B(\\.skip)|\\B(\\.word)|\\B(\\.equ)\\b'
        'name': 'entity.name.tag.leg'
    }

    {
        'match': '\\b(r+[0-9]+[0-3]?)|(sp)|(ip)|(fp)\\b'
        'name': 'storage.type.leg'
    }

    {
        'match': '\\b\\w+\\b'
        'name': 'entity.name.function.leg'
    }
]
